/* 
 * UTILITY CSS CODE - tools to make your life easier
 */

 * {
  box-sizing: border-box;
}

/*
Generic image resizer to make image "responsive".
Images should always fit into their container & stay in proportion - max-width and height.
*/
img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
  width: auto;
}

/* 
* CUSTOM CSS CODE - specific styling for THIS website
*/

/* Site-wide styles - set up custom properties (CSS variables) */
:root {
  --font-serif: Georgia, 'Times New Roman', Times, serif;
  --font-sans-serif: Arial, Helvetica, sans-serif;
  --brand: #950101;
  --brand-light: #d53131;
  --primary: #333;
  --primary-light: #666;
  --primary-line: #aaa;

}

html {
  font-size: 62.5%;
  /* 1rem = ~10px (based on 16px browser default) */
}

body {

  color: var(--primary);
  font-family: var(--font-sans-serif);
  font-size: 1.6rem;
  /* ~16px default font size (based on 1rem = 10px) */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
  color: var(--primary-light);
  text-transform: uppercase;
}
figure{
  margin: 0;
}
/* for colour highlighted text */
.brand {
  color: var(--brand);
}

.site-wrapper {
  width: clamp(360px, 95%, 1200px);

margin: 0 auto;
}
/* site-header */
.site-header {
padding: 30px 0;
text-align: center;
}
.site-header__tagline {
margin: 0 0 30px;
font-family: var(--font-serif);
color: #999;
font-size: 1.5rem;
font-style: italic;
}

.site-header__link {
  margin: 0;
  font-size: 3.6rem;
  font-weight: normal;
   text-decoration: none;
  font-family: var(--font-sans-serif);

}
.site-header__sub {
  display: block;
  font-family: var(--font-serif);
  font-size: 0.56em;
  /* ~20px based on 36px default font size */
  letter-spacing: 0.55em;
  text-indent: 0.55em;
  color: #666;
}




/* line through headings */

.line-through {

  display: flex;

  justify-content: center;

  align-items: center;

  gap: 10px;
 font-weight:normal;

}



.line-through::before,

.line-through::after {

  content: "";

  flex: 1 1 auto;

  height: 1px;

  background: #aaa;

}

/* -- modifier for footer where text is smaller -- */
.line-through--small {
  font-size: 1.2rem;
}

/* work */
.work_wrapper {
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  justify-items: center;
  gap: 20px;
  padding: 0 20px;
  margin: 0 auto 40px;
}
.work{
  box-shadow: 3px 3px 8px 0px #00000033;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  gap: 10px;
  background: var(--white, #fff);
}

/* .work__img {
  
  align-self: stretch;
  background: lightgray 50% / cover no-repeat;
} */

.work__caption {
  font-family: var(--font-serif);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
 
}

/* lead */
.lead {
      display: grid;
      grid-template-columns: auto;
      justify-items: center;
      padding: 20px;
      gap: 20px;
  }

.lead__quote {
  font-family: var(--font-serif);
  font-size: 2rem;
  text-align: center;
}

.lead__link {
  color: #950101;
  text-decoration: none;
}

.lead__link:hover {
  color: #D53131;
}

.lead__link:visited {
  color: #666666;
  
}
/* media query chose 700px because at this point looks better in two columns */

@media only screen and (min-width: 700px) {
  .lead {
      display: grid;
      grid-template-columns: 320px auto;
      align-items: start;
      gap: 20px;
      padding: 0;
  }

}
